{% extends 'media/layout.html'%}

{% block head %}
    <link rel="stylesheet" href="/static/profile.css">

{% endblock %}

{% block body %}

    <div class="whole-page-container">
        <div class="top-container">
            <div class="image-profile-container">
                <img src="/static/images/examplepost.jpg" alt="">
            </div>
            <div class="names-profile-container">
                <div class="names-profile-container1">
                    <p>{{id.first_name}}</p>
                    <p>{{id.last_name}}</p>
                </div>
                <div class="names-profile-container2">
                    <p>@{{id.username}}</p>
                </div>
                <div class="followers-container">
                    <div><p>Followers: 0</p></div>
                    <div><p>Following: 0</p></div>
                    
                    
                </div>
                <div class="message-container">
                    <div>
                        <button id="btn-follow">Follow</button>
                        <button id="btn-message">Message</button>
                    </div>
                    
                    
                </div>
            </div>
            <div class="about-container">
                <p>About Me:</p>
                <p>f you're looking for random paragraphs, you've come to the right place. When a random word or a random sentence isn't quite enough, the next logical step is to find a random paragraph. We created the Random Paragraph Generator with you in mind. The process is quite simple. Choose the number of random paragraphs you'd like to see and click the button. Your chosen number of paragraphs will instantly appear.

                    While it may not be obvious to everyone, there are a number of reasons creating random paragraphs can be useful. A few examples of how some people use this generator are listed in the following paragraphs.</p>
            </div>
        </div>
        <div class="bottom-container">
            {% for post in allposts %}
            <div class="post-profile-container">
                <div class="username-prof-post-container"><p>{{post.username}}</p></div>
                <div class="post-prof-text-container">
                    <p>{{post.post}}</p>
                </div>
                <div class="views-profile-container">
                    <p>views</p>
                    <p>Likes</p>
                    <p>Dislikes</p>
                </div>
                <div class="date-container">
                    <p>Posted On: {{post.date}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}