* {
    margin: 0;
}

.register-body {
    background-image: url("images/Red-Light-Blue-Wallpapers-and-Background-Images-stmed.net.jpg");
    background-repeat: no-repeat;
    
   
}
.register-container {
    display: grid;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    grid-template-columns: 0.9fr;
    margin-top: 10px;

}

.whole-screen-container {
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    border: 2px solid whitesmoke;
    height: 50%;
    width: 20%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    border-radius: 10px;
   
    
}


.first-name-container, .last-name-container, .email-container, .password-container, .password2-container, .username-container {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
}

.submit-container {
    display: grid;
    grid-template-columns: 1fr;
    height: 70%;
}

.submit-container > button {
    background-color: #009999;
    color: white;
    border: 0;
    border-radius: 5px;

}
.submit-container>button:hover {
    cursor: pointer;
}